/*
 Path foi gerado a partir de um SVG. 
 O conversor de SVG para CSS usado foi o:
  https://www.plantcss.com/css-clip-path-converter
*/
.ondulacao {
  clip-path: polygon( 0% 24.074%,0% 24.074%,0.004% 24.036%,0.034% 23.921%,0.114% 23.724%,0.271% 23.442%,0.529% 23.071%,0.914% 22.607%,1.451% 22.048%,2.166% 21.388%,3.084% 20.624%,4.231% 19.753%,4.231% 19.753%,5.56% 18.842%,6.997% 17.966%,8.526% 17.134%,10.129% 16.354%,11.791% 15.636%,13.494% 14.988%,15.222% 14.419%,16.957% 13.937%,18.684% 13.552%,20.385% 13.272%,20.385% 13.272%,24.459% 13.036%,28.393% 13.336%,32.218% 14.016%,35.963% 14.921%,39.66% 15.894%,43.337% 16.782%,47.026% 17.428%,50.756% 17.676%,54.558% 17.371%,58.462% 16.358%,58.462% 16.358%,61.424% 15.159%,63.797% 13.93%,65.736% 12.666%,67.4% 11.363%,68.945% 10.016%,70.528% 8.62%,72.307% 7.173%,74.438% 5.668%,77.078% 4.101%,80.385% 2.469%,80.385% 2.469%,82.672% 1.539%,84.835% 0.854%,86.869% 0.387%,88.771% 0.112%,90.538% 0.004%,92.165% 0.037%,93.649% 0.186%,94.987% 0.424%,96.175% 0.726%,97.209% 1.066%,97.209% 1.066%,97.754% 1.305%,98.237% 1.595%,98.659% 1.932%,99.022% 2.31%,99.325% 2.723%,99.571% 3.166%,99.76% 3.633%,99.894% 4.119%,99.974% 4.618%,100% 5.124%,100% 100%,100% 100%,90% 100%,80% 100%,70% 100%,60% 100%,50% 100%,40% 100%,30% 100%,20% 100%,10% 100%,0% 100%,0% 24.074% );
}

.ondulacaoSvg {
  clip-path: url(#clip-wave);
}


/* Classe para formato floral */
.floral {
  --petal-count: 8;
  clip-path: polygon(
    50% 0%,
    65% 15%,
    85% 15%,
    85% 35%,
    100% 50%,
    85% 65%,
    85% 85%,
    65% 85%,
    50% 100%,
    35% 85%,
    15% 85%,
    15% 65%,
    0% 50%,
    15% 35%,
    15% 15%,
    35% 15%
  );
}
